/* Estilo geral */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto Condensed', sans-serif;
}

body{
    background-color: #000;
    height: 100vh;
}

.interface{
    max-width: 1280px;
    margin: 0 auto;
}

.flex{
    display: flex;
}

.btn-contato button {
    padding: 10px 40px;
    font-size: 18px;
    font-weight: 600;
    background-color: rgb(129, 19, 233);
    border-radius: 30px;
    cursor: pointer;
    transition: .2s;
}

h2.titulo{
    color: #fff;
    font-size: 39px;
    text-align: center;
}

h2.titulo span{
    color: blueviolet;
}

button:hover {
    box-shadow: 0px 0px 8px rgb(79, 8, 146);
    transform: scale(1.05);
}


/* Estilo do cabeçalho */
header{
    padding: 40px 4%;
}

header > .interface {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header a{
    color: #6d6d6d;
    text-decoration: none;
    display: inline-block;
    transition: .2s;
}

header a:hover{
    color: #fff;
    transform: scale(1.05);
}

header nav ul{
    list-style-type: none;

}

header nav ul li{
    display: inline-block;
    padding: 0 40px;
}


/* ESTILO DO TOPO DO SITE */
section.topo-do-site{
    padding: 40px 4%;
}

section.topo-do-site .flex{
    align-items: center;
    justify-content: center;
    gap: 90px;

}

.topo-do-site .txt-topo-site h1{
    color: #fff;
    font-size: 48px;
    line-height: 40px;
}

.topo-do-site .txt-topo-site span{
    color: blueviolet;
}

.topo-do-site .txt-topo-site p{
    color: #fff;
    margin: 40px 0;
}

.topo-do-site .img-topo-site img{
    position: relative;
    animation: efeitoFlutuar 2s ease-in-out infinite alternate;
}

/* animação da imagem que flutua*/
@keyframes efeitoFlutuar{
    0%{
        top: 0;
    }
    100%{
        top: 30px;
    }
}

/* MINHAS ESPECIALIDADES */

section.especialidades{
    padding: 40px 4%;
}

section.especialidades .flex{
    gap: 60px;
}


.especialidades .especialidades-box{
    color: #fff;
    padding: 40px;
    border-radius: 20px;
    margin-top: 45px;
    transition: .2s;
}

.especialidades .especialidades-box:hover{
    transform: scale(1.05);
    box-shadow: 0 0 15px #7d03817c;
}

.especialidades .especialidades-box i{
    font-size: 70px;
    color: blueviolet;
    
}

.especialidades .especialidades-box h3{
    font-size: 29px;
    margin: 15px 0;
}


/*ESTILO DO SOBRE-MIM*/

section.sobre-mim{
    padding: 100px 4%;
}

section.sobre-mim .flex{
    align-items: center;
    gap: 60px;
}

.sobre-mim .txt-sobre{
    color: #fff;
}

.sobre-mim .txt-sobre h2{
    font-size: 40px;
    line-height: 40px;
    margin-bottom: 30px;
}

.sobre-mim .txt-sobre p{
    font-size: 25px;
    margin: 20px;
    text-align: justify;
}

.sobre-mim .txt-sobre h2 span{
    color: blueviolet;
    display: block;
}

.sobre-mim .txt-sobre .btn-social button{
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
    background-color: blueviolet;
    font-size: 22px;
    cursor: pointer;
    margin: 0 5px;
    transition: .2s;
}
